@charset "utf-8";
/* CSS Document */

.panneau {
	width: 960px;
	border: 1px solid;
	border-radius: 56px;
	-webkit-box-shadow: 0px 0px 100px #CF1D1F42;
	box-shadow: 00px 0px 100px #CF1D1F42;
}

#espace_fil {
	margin-top: 200px;
}

.legend {
	font-family: AveriaSans;
}

.group {
	position: relative;
	margin-bottom: 200px;
}

.espace {
	/* position: absolute; */
	z-index: 0;
}