@charset "utf-8";
/* CSS Document */

:root {
  --panneau-width: 960px;
}

.panneau {
	width: var(--panneau-width);
	border: 1px solid;
	border-radius: 56px;
	overflow: hidden;
	display: flex;
}

td {
	padding: 0px;
}

.legend {
	font-family: AveriaSans;
	position: relative;
	left: 50px;
	text-align: left;
	font-style: italic;
}

.panneau_img {
	position: relative;
	max-width: inherit;
	max-height: inherit;
	height: inherit;
	width: var(--panneau-width);
	border-radius: 0px;
	object-fit: cover;
}

.panneau_carrousel_slider {
	position: relative;
	display: flex;
}

div#minecraft-1-slider {}

.group {
	position: relative;
	margin-bottom: 200px;
	width: 960px;
}

.espace {
	/* position: absolute; */
	z-index: 0;
	margin-top: 200px;
}