@charset "utf-8";
/* CSS Document */

.panneau_gallerie {
	background-color: #782828;
	border-color: #782828;
	-webkit-box-shadow: 0px 0px 100px #CF1D1F42;
	box-shadow: 0px 0px 100px #CF1D1F42;
}

.panneau_gallerie_img {
	
}

.legend_gallerie {
	color: #dd7c7c;
}