@charset "utf-8";
/* CSS Document */

:root {
  --hud-element-color: #fbf2ea;
}

.hud_element_text {
	color: var(--hud-element-color);
}

.hud_element_svg {
	filter: invert(89%) sepia(0%) saturate(5892%) hue-rotate(247deg) brightness(116%) contrast(90%);;
}
