@charset "utf-8";
/* CSS Document */

.panneau_minecraft {
	background-color: #89af87;
	border-color: var(--minecraft_bdr);
	-webkit-box-shadow: 0px 0px 100px #b7e2b5;
	box-shadow: 0px 0px 100px #b7e2b5;
}

.panneau_minecraft_img {
	
}

.legend_minecraft {
	color: #89af87;
}

.panneau_minecraft_arrow {
	position: relative;
	height: 92px;
}

#espace_minecraft_carrousel_container {
	position: relative;
	left: -46px;
	border-spacing: 0px;
}