@charset "utf-8";
/* CSS Document */


:root {
  --code_bg: #1a1f23;
  --code_bdr: #2d85b2;
  --polypapier_bg: #f5f1d3;
  --polypapier_bdr: #6eb52c;
  --minecraft_bg: #223f21;
  --minecraft_bdr: #528c4f;
  --gallerie_bg: #141111;
  --gallerie_bdr: #dd7c7c;
  --compos_bg: #260c2b;
  --compos_bdr: #962eaf;
  --farnnight_bg: #02051c;
  --farnnight_bdr: #ffff00;

  --sco_inge_bg: #5f718f;
  --sco_inge_bdr: #0a0f30;
  --musico_bg: #8adaf3;
  --musico_bdr: #0c71b9;
  --pro_inge_bg: #d5efde;
  --pro_inge_bdr: #038A36;
}

#nav_container {
	position: absolute;
	top: 0px;
/*	left: 6000px;*/
}

.nav_container {
	position: relative;
	display: flex;
    justify-content: center;
}

#nav {
	position: absolute;
	z-index: 1;
	padding-top: 75px;
}

.nav {
	position: relative;
}

.nav_text {
	font-family: AveriaSans;
	font-size: 40px;
	margin-block-end: 0.2em;
}

.nav_text_hover {
    font-family: AveriaSans-Light;
    font-size: 20px;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

.nav_hover_box {
	position: relative;
	width: 150px;
	height: 34px;
	border: 1px solid;
	white-space: normal;
	border-radius: 11.25px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.nav_container_line_for_hover {
	position: relative;
	width: 100%;
	height: 1500px;
}

.nav_line_for_hover {
	position: absolute;
	top: 0px;
	height: 0px;
	border: 1px solid;
	opacity: 0;
}

#nav_text_portfolio {
	left: 0px;
}

#nav_text_carriere {
	left: 0px;
}

.nav_timetick {
	position: absolute;
	font-family: AveriaSans;
	font-size: 20px;
	opacity: 0.5;
	white-space: nowrap;
}

.nav_timepoint {
	border: 1px solid;
	width: 12px;
	border-radius: 11.25px;
	position: absolute;
	display: block;
	margin-top: 2px;
}

.nav_timepoint:hover {
	animation: hover 0.05s ease 0s 1 normal forwards;
}

@keyframes hover {
	0% {
/*		transform: scale(1);*/
		border-width: 1px;
		transform: translateY(0);
	}

	100% {
/*		transform: scale(1.2);*/
		border-width: 3px;
		transform: translateY(-2px);
	}
}

.nav_timepoint_code {
	background-color: var(--code_bg);
	border-color: var(--code_bdr);
}

.nav_timepoint_polypapier {
	background-color: var(--polypapier_bg);
	border-color: var(--polypapier_bdr);
}

.nav_timepoint_minecraft {
	background-color: var(--minecraft_bg);
	border-color: var(--minecraft_bdr);
}

.nav_timepoint_gallerie {
	background-color: var(--gallerie_bg);
	border-color: var(--gallerie_bdr);
}

.nav_timepoint_compos {
	background-color: var(--compos_bg);
	border-color: var(--compos_bdr);
}
.nav_timepoint_farnnight {
	background-color: var(--farnnight_bg);
	border-color: var(--farnnight_bdr);
}

.nav_timepoint_sco_inge {
	background-color: var(--sco_inge_bg);
	border-color: var(--sco_inge_bdr);
}

.nav_timepoint_musico {
	background-color: var(--musico_bg);
	border-color: var(--musico_bdr);
}

.nav_timepoint_pro_inge {
	background-color: var(--pro_inge_bg);
	border-color: var(--pro_inge_bdr);
}




#nav_line_for_hover_code {
	border-color: var(--code_bdr);
}

#nav_line_for_hover_polypapier {
	border-color: var(--polypapier_bdr);
}

#nav_line_for_hover_minecraft {
	border-color: var(--minecraft_bdr);
}

#nav_line_for_hover_gallerie {
	border-color: var(--gallerie_bdr);
}

#nav_line_for_hover_compos {
	border-color: var(--compos_bdr);
}
#nav_line_for_hover_farnnight {
	border-color: var(--farnnight_bdr);
}

#nav_line_for_hover_sco_inge {
	border-color: var(--sco_inge_bdr);
}

#nav_line_for_hover_musico {
	border-color: var(--musico_bdr);
}

#nav_line_for_hover_pro_inge {
	border-color: var(--pro_inge_bdr);
}