@charset "utf-8";
/* CSS Document */

#nav_container {
	position: absolute;
	top: 0px;
	left: 6000px;
}

.nav_container {
	position: relative;
	display: flex;
    justify-content: center;
}

#nav {
	position: relative;
	z-index: 1;
	top: 75px;
}

.nav {
	position: relative;
}

.nav_text {
	font-family: AveriaSans;
	font-size: 40px;
	margin-block-end: 0.2em;
}

.nav_text_hover {
    font-family: AveriaSans-Light;
    font-size: 20px;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

.nav_hover_box {
	position: relative;
	width: 150px;
	height: 34px;
	border: 1px solid;
	white-space: normal;
	border-radius: 11.25px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.nav_container_line_for_hover {
	position: relative;
	width: 100%;
	height: 1000px;
}

#nav_text_portfolio {
	left: 0px;
}

#nav_text_carriere {
	left: 0px;
}

.nav_timetick {
	position: absolute;
	font-family: AveriaSans;
	font-size: 20px;
	opacity: 0.5;
	white-space: nowrap;
}

.nav_timepoint {
	border: 1px solid;
	width: 12px;
	border-radius: 11.25px;
	position: absolute;
	display: block;
}

.nav_timepoint_code {
	background-color: #1a1f23;
	border-color: #2d85b2;
}

.nav_timepoint_polypapier {
	background-color: #f5f1d3;
	border-color: #6eb52c;
}

.nav_timepoint_minecraft {
	background-color: #223f21;
	border-color: #528c4f;
}

.nav_timepoint_gallerie {
	background-color: #141111;
	border-color: #dd7c7c;
}

.nav_timepoint_compos {
	background-color: #260c2b;
	border-color: #962eaf;
}
.nav_timepoint_farnnight {
	background-color: #02051c;
	border-color: #ffff00;
}

.nav_timepoint_sco_inge {
	background-color: #5f718f;
	border-color: #0a0f30;
}

/*
.nav_timepoint_sco_inge {
	background-color: #023311;
	border-color: #038b38;
}
*/

.nav_timepoint_musico {
	background-color: #8adaf3;
	border-color: #0c71b9;
}
/*

.nav_timepoint_musico {
	background-color: #0f2435;
	border-color: #265b87;
}
*/

.nav_timepoint_pro_inge {
	background-color: #d5efde;
	border-color: #038A36;
}
/*
.nav_timepoint_pro_inge {
	background-color: #330e10;
	border-color: #ac2e30;
}
*/
