@charset "utf-8";
/* CSS Document */

#nav_container {
	position: absolute;
	top: 0px;
}

#nav {
	position: relative;
	z-index: 1;
}

.nav {
	position: relative;
}

.nav_text {
	width: 100px;
	font-family: AveriaSans;
}

#nav_text_portfolio {
	left: 0px;
}

#nav_text_carriere {
	left: 0px;
}

.nav_timepoint {
	border: 1px solid;
	width: 12px;
	border-radius: 11.25px;
	position: relative;
}

.nav_timepoint_point {
	height: 12px;
}

.nav_timepoint_code {
	background-color: #1a1f23;
	border-color: #2d85b2;
}

#nav_code-1 {
	top: 200px;
	height: 50px;
}

.nav_timepoint_polypapier {
	background-color: #f5f1d3;
	border-color: #6eb52c;
}

#nav_polypapier-1 {
	top: 20px;
	height: 100px;
}

.nav_timepoint_minecraft {
	background-color: #223f21;
	border-color: #528c4f;
}

#nav_minecraft-1 {
	top: 400px;
	height: 300px;
}

.nav_timepoint_gallerie {
	background-color: #141111;
	border-color: #dd7c7c;
}

#nav_gallerie-1 {
	top: 0px;
}

#nav_gallerie-2 {
	top: 40px;
}

#nav_gallerie-3 {
	top: 180px;
}

#nav_gallerie-4 {
	top: 300px;
}

.nav_timepoint_compos {
	background-color: #260c2b;
	border-color: #962eaf;
}

#nav_compos-1 {
	top: 0px;
}

#nav_compos-2 {
	top: 15px;
}

#nav_compos-3 {
	top: 100px;
}

#nav_compos-4 {
	top: 200px;
}

.nav_timepoint_farnnight {
	background-color: #02051c;
	border-color: #ffff00;
}

#nav_farnnight-1 {
	top: 100px;
	height: 100px;
}

.nav_timepoint_sco_inge {
	background-color: #023311;
	border-color: #038b38;
}

#nav_sco_inge-1 {
	top: 0px;
	height: 150px;
}

#nav_sco_inge-2 {
	top: 100px;
	height: 200px;
}

#nav_sco_inge-3 {
	top: 100px;
	height: 200px;
}

.nav_timepoint_musico {
	background-color: #0f2435;
	border-color: #265b87;
}

#nav_musico-1 {
	top: 0px;
	height: 200px;
}

.nav_timepoint_pro_inge {
	background-color: #330e10;
	border-color: #ac2e30;
}

#nav_pro_inge-1 {
	top: 0px;
	height: 60px;
}

#nav_pro_inge-2 {
	top: 200px;
	height: 100px;
}